.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*Header*/
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
  color: #fff;
}
.form-control-dark:focus {
  color: #fff;
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}
.side-nav{
  height: 100vh;
}
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: #010101;
  color: white;
  transform: rotateY(180deg);
}
/*Header css*/
.dash-head{
  text-align: right;
}
.footer{
  background-color: #282c34;
}


/*Vihanga*/
header{
  z-index: 20;
  position: fixed;
  background: #151515;
  padding: 20px;
  width: calc(100% - 0%);
  top: 0;
  height: 120px;
}
header .left_area img{
  height: 220px;
  width: 200px;
  margin-top: -90px;
}
.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -130px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
}

.logout_btn:hover{
  background: #0B87A6;
}

.sidebar{
  z-index: 1;
  top: 0;
  background: #2f323a;
  margin-top: 105px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  overflow-y: auto;
}
.sidebar .active{
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #0B87A6;
}

.sidebar .profile_info .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  padding-left: 40px;
  box-sizing: border-box;
  transition: 0.5s;
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 300px;
  font-size: 20px;
  margin-top: 20px;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -185px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 165px;
  width: 100%;
}

.content{
  width: "100% - 250px";
  margin-top: 95px;
  padding: 20px;
  margin-left: 250px;
  background-color: #0B87A6;
  background-position: center;
  background-size: cover;
  min-height:100vh;
  transition: 0.5s;
}
.glass {
  background: white;
  background: linear-gradient(
          to right bottom,
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 0.3)
  );
  border-radius: 1rem;
  z-index: 2;
}
.glass h1{
  color: #426696;
  font-weight: 750;
  font-size: 2rem;
  opacity: 0.9;
}
.glass .names{
  font-size: 1rem;
  color: #426696;
  font-weight: 750;
  font-size: 2rem;
  opacity: 0.9;
  width:auto;
  background: linear-gradient(
          to right bottom,
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 0.3)
  );
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
}
.glass .names h5{
  color: #426696;
  font-weight: 400;
  font-size: 2rem;
  opacity: 0.9;
  width:auto;
}
.glass input{
  background: linear-gradient(
          to right bottom,
          rgba(255, 255, 255, 0.7),
          rgba(255, 255, 255, 0.3)
  );
  border: none;
  padding: 0.5rem;
  border-radius: 2rem;
}
.glass .breake{
  width:200px;
  height: 3px;
  background: #2f323a;
  opacity: 0.6;
  border-radius: 50px;
}
#check:checked ~ .content{
  margin-left: 60px;
}

#check:checked ~ .sidebar .profile_info{
  display: none;
}

#check{
  display: none;
}

.mobile_nav{
  display: none;
}

.content .card p{
  background: #fff;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

/* Responsive CSS */

@media screen and (max-width: 780px){
  .pagetopic{
    display: none;
  }
  header{
    z-index: 20;
    position: fixed;
    background: #151515;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 140px;
  }
  .sidebar{
    display: none;
  }

  #sidebar_btn{
    display: none;
  }

  .content{
    margin-left: 0;
    margin-top: 0;
    padding: 10px 20px;
    transition: 0s;
  }

  #check:checked ~ .content{
    margin-left: 0;
  }

  .mobile_nav{
    display: block;
    width: calc(100% - 0%);
  }

  .nav_bar{
    background: #222;
    width: (100% - 0px);
    margin-top: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .nav_bar .mobile_profile_image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .nav_bar .nav_btn{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s;
    transition-property: color;
  }

  .nav_bar .nav_btn:hover{
    color: #19B3D3;
  }

  .mobile_nav_items{
    background: #2F323A;
    display: none;
  }

  .mobile_nav_items a{
    color: #fff;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    text-decoration: none;
    box-sizing: border-box;
    transition: 0.5s;
  }

  .mobile_nav_items a:hover{
    background: #19B3D3;
  }

  .mobile_nav_items i{
    padding-right: 10px;
  }

  .active{
    display: block;
  }
}
.boody{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30px;
  background: #131313;
}
.box{
  position: relative;
  width: 200px;
  height: 160px;
  margin: auto;
  background: #42d8f7;
  border-radius: 20px;
  transform-style: preserve-3d;
}
.box::before{
  content: 'SLIIT';
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 3em;
  font-weight: 900;
  color: #2F323A;
  font-style: italic;
  opacity: 0;
}
.box::after{
  content: 'ICMS';
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 3em;
  font-weight: 900;
  color: #2F323A;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
}
.box:hover::after,
.box:hover::before{
  opacity: 0.1;
}
.boody .skillname{
  position: absolute;
  bottom: 0;
  left: 50%;
  color: #fff;
  width: 60%;
  transform-style: preserve-3d;
  transform: translate3d(-50%,0,75px);
  font-size: small;
  text-align: center;
  background: #333;
  padding: 10px 25px;
  border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  opacity: 0;
  z-index: 10;
}
.boody:hover .skillname{
  bottom: 30px;
  opacity: 1;
}
.box .cricle{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  transition: 0.5s;
  background: #fff;
  transform-style: preserve-3d;
  z-index: 10;
  opacity: 0.2;
  transform: translate3d(-50%,-50%,50px);
}
.skills{
  position:absolute;
  top: 50%;
  left: 50%;
  max-width: 100px;
  transition: 0.5s;
  z-index: 11;
  transform-style: preserve-3d;
  transform: translate3d(-50%,-50%,0px);

}

.box:nth-child(1) .cricle,
.box:nth-child(1) .skillname{
  background: #F84F31;
}
.box:nth-child(2) .cricle,
.box:nth-child(2) .skillname{
  background: #264de4;
}
.box:nth-child(3) .cricle,
.box:nth-child(3) .skillname{
  background:  #036782;
}
.box:nth-child(4) .cricle,
.box:nth-child(4) .skillname{
  background: #835F72  ;
}
a{
  text-decoration: none;
}
.lg-body{
  background-image: url("images/WhatsApp Image 2021-05-24 at 12.39.40.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.loginCard{
  color: #800080;
}
.fPass{
  color: #7363ef;
}
.btnLogin{
  background-color: #7363ef;
  text-align: center;

}
.ulIcons{
  display: inline-block;
  text-align: center;
}
.fb{
  background-color: #7363ef;
  color: white;
  border: #7363ef solid 2px;
  padding: 2px;
  margin-right: 10px;
  border-radius: 3px;

}
.twit{
  background-color: #5eacec;
  color: white;
  border: #5eacec solid 2px;
  padding: 2px;
  border-radius: 3px;
  margin-right: 10px;
}
.mail{
  background-color: #ea4b38;
  color: white;
  border: #ea4b38 solid 2px;
  padding: 2px;
  border-radius: 3px;
}

.signup-bdy{

  background-image: url("images/WhatsApp Image 2021-05-25 at 11.11.38.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  height: 100vh;
}
.signUpForm {
  opacity: 0.8;
  font-size: 15px;
}
.headdingIcms{
  font-weight: bold;
}
html {
  font-size: 1rem;

}
a{
  text-decoration: none;
}
.frm{
}
.lg-body{
  background-image: url("images/WhatsApp Image 2021-05-24 at 12.39.40.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.loginCard{
  color: #800080;
}
.fPass{
  color: #7363ef;
}
.btnLogin{
  background-color: #7363ef;
  text-align: center;

}
.alignRight{
  text-align: center;
}
.ulIcons{
  display: inline-block;
  text-align: center;
}
.fb{
  background-color: #7363ef;
  color: white;
  border: #7363ef solid 2px;
  padding: 2px;
  margin-right: 10px;
  border-radius: 3px;

}
.twit{
  background-color: #5eacec;
  color: white;
  border: #5eacec solid 2px;
  padding: 2px;
  border-radius: 3px;
  margin-right: 10px;
}
.mail{
  background-color: #ea4b38;
  color: white;
  border: #ea4b38 solid 2px;
  padding: 2px;
  border-radius: 3px;
}

.signup-bdy{

  background-image: url("images/signup.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.signUpForm {
  opacity: 0.8;
  font-size: 15px;
}
.headdingIcms{
  font-weight: bold;
}
.dash-head{
  text-align: right;
}
.dash-1st{
  background-color: #283045;
}
i:hover{
  color: #ea4b38;
}
.btnCus{
  background-color: #b0adf2;
  color: white;
}
.txtActive{
  color: #b0adf2 ;
}
.col-side-update{
  text-align: right;
}
.growUp{
  color: #645bce;
  font-size: x-large;
}
.reports{
  color:#018eac;
  background-color: #26425a;
  padding: 5px;
  border-radius: 50%;
}
.cube{
  background-color: #3a344c;
  color: #d64a53;
  padding: 5px;
  border-radius: 50%;
}
.editFrm{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}
.sideList{
  list-style: none;
}
.giftBox{
  text-align: right;

}
.fa-gift{
  color: #018eac;
}
.giftSen{
  color: black;
}
.fa-window-close{
  color: red;
}
.block{
  text-align: center;
}
.comment{
  border: 0px solid transparent;
  padding-left: 5%;
}
.fa-thumbs-up:hover{
  color: #018eac;
  cursor: pointer;
}
.fa-comment:hover{
  color: #018eac;
  cursor: pointer;
}
.fa-share-alt:hover{
  color: #018eac;
  cursor: pointer;
}
.index{
  background-image: url("images/homeBack.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.bodyText{
  margin-top: 5%;

}
.heddingText{
  font-size: 50px;
  font-weight: bolder;
}
.smallText{
  padding: 5px;
  color: #4abcb4;
  font-weight: bold;
}
.getStarted{
  border: 1px solid white;
  text-align: center;
  padding: 5px;
}
getStarted-a{
  color: #4abcb4;
}
.getStarted:hover{
  border: 1px solid #4abcb4;
  color: white;
  cursor: pointer;
}
.indexHeader{
  background-color: #010101;
}
.ULlist{
  padding: 10px;
  border: 1px solid #010101;
}
.ULlist:hover{
  border: 1px solid #4abcb4;
  cursor: pointer;
}
.admin-dash{
  background-color: #010101;
}
.adCard{
  background-color: #F08080;
  opacity: 40%;
  margin: 5px;
  border: 2px solid white;
  border-radius: 5%;
}
.values{
  margin-left: 10%;
}
.valuesII{
  margin-left: 20%;
}
.firstCard{
  background-color: #242526;
}

.secondCard{
  background-color: #242526;
  margin-top: 10px;
  color: white;
}
.bar{
  border: 10px solid white;
}
.bar2{
  border-bottom:3px solid white;
}
.bar3{
  border-bottom:3px solid #4abcb4;
}
.alignRight{
  text-align: right;
}
.faAtt{
  text-align: right;
  font-size: 30px;
  color: red;
  padding: 0;
}
.faArrow{
  text-align: right;
  font-size: 30px;
}
.about{
  background-image: url("images/moon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.aboutText{
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
}
.contact{
  align-content: center;
  background-image: url("images/moon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 250vh;
}
/*new*/
.paymentForm{
  border: 1px solid red;
  width: 75%;
  height: 500px;

}
.otpBanner{
  background-color: beige;
  border-radius: 10px;
}
.validateButton{
  border: 1px solid transparent;
  background-color: #4abcb4;
  padding: 10px;
  border-radius: 10px;
}
.adduserBody{
  background-image: url("images/addUserBackgound.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.saveChangesBtn{
  border: 1px solid transparent;
  padding: 5px;
  background-color: #19b3d3;
  border-radius: 10px;
  color: white;
}
.saveChangesBtn:hover{
  background-color: #4abcb4;
  color: black;
}

.reviewrImg{
  border: 1px solid white;
  background-color: white;
}
.contBox{
  box-shadow: 10px 10px 5px grey;
}
.nav_menu{
  border: 1px solid transparent;
}
.adminLinks{
  width: 100%;
}
